#cadre{height: 500px;
    width: auto;
    background-image: url(1.jpg);
    background-size: cover;}
h3{
    text-align: center;
    color: blue;
    font-size: 32px;
    font-style: normal;
    font-family: Archivo Black;
    line-height: 70px;
}
#image{
    width: cover;
    margin:10px;
    padding-right: 10px;
}
p{
    font-family: Archivo Black;
    font-style: normal;
    font-weight: 400px;
    font-size: 32px;
}
#im{
    width: 200px;
    height: 200px;
    border-radius: 129.5px;

}
#logo2{
    border-radius: 129.5px;
}
h2{
    color:blue;
    font-family: Archivo-black;
    font-style:normal;
    font-weight: bold;
    
}