#header{text-align:center;
    background-color: #004AAD;
color: antiquewhite;
}
#footer {
    background-color: #004AAD;
    color: antiquewhite;
    text-align: center; }
  #midlefooter {
    border-right: 1px solid antiquewhite;
    border-left: 1px solid antiquewhite;  
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: whitesmoke;
    border-radius: 10%;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  color: black;
  background-color: whitesmoke;
  border-radius: 10%;
}
.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  color: black;
  background-color: whitesmoke;
  border-radius: 10%;
}